:root {
	--bg-color: #3181a8;
	--time-color: #51a1c8;
	--ui-color: #fff;
}
body {
	padding: 0;
	margin: 0;
	overflow: hidden; 
  background-color: var(--bg-color);
  font-family: "Ubuntu", sans-serif;
  font-size: 64pt;
  color: var(--time-color);
}
// * { border: 1px solid #cde; }
#timer {
	text-align: center;
	font-weight: bold;
	font-size: 300%;
	.ui {
		font-size: 30%;
		text-align: center;
		button {
			background-color: transparent;
			margin: 0.25em;
			border: 0;
			opacity: 0.5;
			cursor: pointer;
			color: var(--ui-color);
			transition: opacity 500ms ease;
		}
		button:hover {
			opacity: 1;
		}
	}
}
#graphic {
	margin: auto;
	width: 50%;
	text-align: center;
}
#details {
	margin: auto;
	margin-top: 100px;
	width: 50%;
	font-size: 35%;
	color: #334;
	opacity: 0.5;
}
footer {
	color: #eef;
	font-size: 10pt;
	position: absolute;
	bottom: 5px;
	left: 50%;
	transform: translate(-50%);
	text-align: center;
	opacity: 0.5;
	a {
		color: #fff;
	}
}
@media (max-width: 960px) {
	body {
		font-size: 36pt;
	}
}
@media (max-width: 600px) {
	body {
		font-size: 18pt;
	}
}